* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Century Schoolbook Mono', serif;
  color: #fff;
  background-color: #000;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

.center {
  text-align: center;
}

.content {
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1.5px solid #fff;
}

.layout {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 1280px;
}

 .postcard-container {
    margin-top: 100px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
  .postcard-container {
      height: 500px;
      margin-top: 0px;
  }
}

.postcard-images {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.postcard-images img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  position: absolute;
  opacity: 0;
  transition: opacity 500ms linear;
}

.postcard-images img.active {
  opacity: 1;
  transition-delay: 500ms;
}


.sticker {
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
  width: 150px;
  background-color: #ff0;
  border-radius: 50%;

  transform: rotate(22deg);
}

.sticker-text {
  color: #000;
  position: absolute;
  margin-top: calc(50% - .7rem);
  text-align: center;
  width: 100%;
}
